.ingridientPopup{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}
.title{
  width: 640px;
  text-align: center;
}

.picture{
 width: 480px;
 height: 240px;

}

.list{
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    color: #8585AD;
    text-align: center;
    width: 520px;
}

.listItem{
    display: block;
    width: 92px;
}