.app {
  text-align: center;
  position: absolute;
  max-width: 1280px;
  min-height: 1080px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

.page{
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  gap: 16px;
}

